@font-face{
    font-family: Play;
    src:url(fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

* {
    margin: 0px;
  }
  html, body {
    height: 70%;
  }
  .page-wrap {
    min-height: 80%;
    /* equal to footer height */
    margin-bottom: -20%; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 20%; 
    
  }
  .site-footer {
    background: rgb(0, 0, 0);
    
  }
 .text{
    text-align: center;
    color: #f0f0f0;
    
 }