
/* end of glowing text int the header */
/* responsive image*/
.responsive {
  width: 100%;
  height: auto;
  float: left;
  margin-left: 38%;	
  margin-right: -45%;
  max-width: 4.9%;
	max-height: 2%; 
}
/*margins for the article boxes*/
.content{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}
/*Title at the top of the page (new/trending)*/
.pageTitle{
    font-size: 225%;
    border-bottom: 2px solid #000000;
}

/*animation for the glow of the boxes*/
@-webkit-keyframes boxglow {
    from {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.76), 0 0 10px rgba(255, 255, 255, 0.76), 0 0 15px #e6e2008f, 0 0 20px #e6e2008f, 0 0 25px #e6e2008f, 0 0 30px #e6e2008f, 0 0 35px #e6e2008f;
    }
    to {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.76), 0 0 15px #4df9ff8f, 0 0 20px #4df9ff8f, 0 0 25px #4df9ff8f, 0 0 30px #4df9ff8f, 0 0 35px #4df9ff8f, 0 0 40px #4df9ff8f;
    }
}

/*boxes containting image, title and author*/
* {box-sizing: border-box}
.item{
    margin-top: 5%;
    border: 2px solid #0000002c; 
    max-width: 100%;
    max-height: 30%;
    margin-bottom: 5%;
    position: relative;
    border-radius: 4px;
}
/*hovering the boxes starts the glowing animation*/
.item:hover{
    -webkit-animation: boxglow 2s ease-in-out infinite alternate;
    -moz-animation: boxglow 2s ease-in-out infinite alternate;
    animation: boxglow 2s ease-in-out infinite alternate;
}
/*title of article*/
.title{
    color: #f2f2f2;
    font-size: 130%;
    text-align: left;
    position: absolute;
    bottom: 8px;
    left: 16px;
    border-bottom: 2px solid #000000;
    width: 50%;
}
/*author of article*/
.author{
    text-align: right;
    color: ivory;
    position: absolute;
    bottom: 8px;
    right: 16px;
    border-bottom: 2px solid #000000;
    width: 90%;
}
/*bg of the article*/
.image{
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    position: center;
    vertical-align:top; 
    border-radius: 4px;
}

